@yellow: #fffa19;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  color: white;
  .margenes(50px, 0px);
  background-image: url(../img/banner.jpg);
  background-size: cover;
}

footer {
  padding: 10px 10px 0px 10px;
  background-color: @yellow !important;
  .margenes(10px, 0px);
}

.card-hotel {
  flex: 1 200px;
  .margenes(10px, 0px);
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon {
  padding-right: 10px; 
}

a:hover, a:focus {
  text-decoration: none; 
}

.p-25 {
  padding-right: 25%;
  padding-left: 25%; 
}
