.jumbotron {
  color: white;
  margin-top: 50px;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  margin-top: 10px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: #fffa19 !important;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

a:hover, a:focus {
  text-decoration: none; }

.p-25 {
  padding-right: 25%;
  padding-left: 25%; }
