$yellow: #fffa19;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}


.jumbotron {
	color: white;
	margin-top: 50px;
	background-image: url(../img/banner.jpg);
	background-size: cover;
	@include margenes(10px, 0px);
}

footer {
	padding: 10px 10px 0px 10px;
	background-color: $yellow !important ;
	@include margenes(10px, 0px);
}

.card-hotel {
	flex: 1 200px;
	@include margenes(10px, 0px);
}

.btn-reserva {
	width: 100%;
	border-radius:0px;

}

.footer-address-icon {
	padding-right: 10px;
}

a:hover, a:focus {
	text-decoration: none;
}

.p-25 {
	padding-right: 25%;
	padding-left: 25%;
}